* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    height: 100%;
    width: 100%;
    background-image: url(1.png);
}

#navbar {
    background-color: #FFBB00;
}

#navbar ul {
    display: flex;
    flex-direction: row;
}

#navbar li {
    list-style: none;
    padding: 10px;
    margin-top: 15px;
}

li.item {
    margin-left: 20px;
}

#navbar li a {
    text-decoration: none;
    padding: 13px 20px;
    font-size: 20px;
    font-style: bold;
    color: black;
}

#navbar li a:hover {
    color: white;
}

#logo {
    display: inline;
    font-size: 28px;
    margin: 10px;
}

#logo img {
    height: 50px;
    width: 250px;
}

.right {
    position: absolute;
    right: 225px;
    top: 20px;
    display: inline-block;
}

.btn {
    position: absolute;
    top: -3px;
    float: right;
    left: 80px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    border: 1px solid white;
}
#IntroSection {
    height: 700px;
}
#IntroSection h1{
    position: absolute;
width: 315px;
height: 65px;
left: 620px;
/* margin-top: 600px; */
top: 680px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 180%;
background: linear-gradient(to left, rgb(74, 68, 68) 58%, rgb(244, 168, 74) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
hr{
    position: absolute;
width: 550px;
height: fit-content;
left: 943px;
margin-top: 630px;

border: 7px solid #FFBB00;
}
#MissionSection {
    height: 3000px;
    width: 100%;
    margin: auto;
}
.card {
    border: 2px solid white;
    width: 29%;
    height: 400px;
    margin: 90px 25px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img img {
    height: inherit;
    width: 435px;
}

h4 {
    margin-top: 5px;
    margin-left: 100px;
}

p {
    margin-top: 10px;
    margin-left: 12px;
}
.class2 img{
    position: absolute;
width: 1050px;
height: 346px;
left: 405px;
top: 2096px;
}
.class3 img{
    position: absolute;
width: 312px;
height: 136px;
left: 433px;
top: 2127px;
}
.class4 img{
    position: absolute;
    width: 312px;
    height: 136px;
    left: 775px;
    top: 2127px;
}
.class5 img{
    position: absolute;
    width: 312px;
    height: 136px;
    left: 1117px;
    top: 2127px;
}
.class6 img{
    position: absolute;
width: 312px;
height: 136px;
left: 433px;
top: 2273px;
}
.class7 img{
    position: absolute;
    width: 312px;
    height: 136px;
    left: 775px;
    top: 2273px;
}
.class8 img{
    position: absolute;
    width: 312px;
    height: 136px;
    left: 1117px;
    top: 2273px;
}
.class3 h1{
    position: absolute;
width: 182px;
height: 22px;
left: 530.5px;
top: 2171px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 22px;
}
.class4 h1{
    position: absolute;
    width: 182px;
    height: 44px;
    left: 890.5px;
    top: 2160px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
}
.class5 h1{
    position: absolute;
width: 182px;
height: 44px;
left: 1232.5px;
top: 2160px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 22px;
}
.class6 h1{
    position: absolute;
width: 182px;
height: 22px;
left: 530.5px;
top: 2317px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 22px;
}
.class7 h1{
    position: absolute;
width: 182px;
height: 44px;
left: 890.5px;
top: 2306px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 22px;
}
.class8 h1{
    position: absolute;
width: 182px;
height: 44px;
left: 1232px;
top: 2306px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 22px;
}
.class3 p{
    position: absolute;
width: 83px;
height: 24px;
left: 530.5px;
top: 2195px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFBB00;
}
.class4 p{
    position: absolute;
    width: 83px;
    height: 24px;
    left: 890.5px;
    top: 2195px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFBB00;
}
.class5 p{
    position: absolute;
width: 83px;
height: 24px;
left: 1232.5px;
top: 2195px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFBB00;
}
.class6 p{
    position: absolute;
width: 83px;
height: 24px;
left: 530.5px;
top: 2341px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFBB00;
}
.class7 p{
    position: absolute;
width: 83px;
height: 24px;
left: 890.5px;
top: 2341px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFBB00;
}
.class8 p{
    position: absolute;
width: 83px;
height: 24px;
left: 1232.5px;
top: 2341px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFBB00;
}
.Class1 img{
    position: absolute;
width: 333px;
height: 1257px;
left: 14px;
top: 2096px;
}
h2{
    position: absolute;
width: 234px;
height: 30px;
left: 405px;
top: 2472px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
}
.Class2 img{
    position: absolute;
width: 1064px;
height: 223px;
left: 391px;
top: 2530px;
}
.Class3 img{
    position: absolute;
    width: 1064px;
    height: 223px;
    left: 391px;
    top: 2778px
}
.Class4 img{
    position: absolute;
width: 1064px;
height: 223px;
left: 391px;
top: 3026px
}
.Class5 img{
    position: absolute;
width: 1064px;
height: 223px;
left: 391px;
top: 3274px  
}
.Class6 img{
    position: absolute;
width: 1064px;
height: 223px;
left: 391px;
top: 3522px
}
.Class7 img{
    position: absolute;
width: 1064px;
height: 223px;
left: 391px;
top: 3770px
}
.Class8 img{
    position: absolute;
width: 1064px;
height: 223px;
left: 391px;
top: 4018px
}
#Btn {
    position: absolute;
width: 230px;
height: 70px;
left: 1257px;
top: 4319px;
border-radius: 45px;
font-size: 22px;
background-color: #FFBB00;
color: white;
border: 2px solid white;
}
h1{
    position: absolute;
width: 572px;
height: 42px;
left: 90px;
top: 4333px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px
}
.CARD {
    border: 2px solid white;
    width: 96%;
    height: 500px;
    margin: 160px 25px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #F5F5F5;
    position: absolute;
    width: 1438px;
    height: 463px;
    left: 20px;
    top: 4300px;
    border-radius: 10px;
}

.CARD-BOX {
    left: 110px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.CARD-IMG img {
    left: 80px;
    width: 300px;
    margin-top: 35px;
}
.class h1{
    position: absolute;
width: 499px;
height: 45px;
left: 880px;
top: 4987px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
margin-top: 25px;
}
.class img{
    margin-top: 25px;
    top: 5000px;
    position: absolute;
}
.class p{
    margin-top: 40px;
    margin-left: 100px;
}
.card1{
    position: absolute;
    width: 494px;
    height: 99px;
    left: 863px;
    top: 5084px;
    
    background: #F5F5F5;
    border-radius: 15px;
}
.card2{
    position: absolute;
    width: 494px;
    height: 99px;
    left: 863px;
    top: 5198px;
    
    background: #F5F5F5;
    border-radius: 15px;
}
.card3{
    position: absolute;
    width: 494px;
    height: 99px;
    left: 863px;
    top: 5312px;
    
    background: #F5F5F5;
    border-radius: 15px;
}
.cls img{
    position: absolute;
width: 1475px;
height: 821px;
left: 0px;
top: 5506px;
margin-top: 70px;
}
.container3{
    background-color: #FFBB00;
    width: 100%;
    height: 450px;
    margin-top: 4600px
}
.container3 img{
    position: absolute;
width: 788px;
height: 450px;
top: 6392px;
margin-top: 144px;

}
.container3 h3{
    position: absolute;
width: 426px;
height: 57px;
left: 700px;
margin-top: 60px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 57px;

color: #FFFFFF;

}
.container3 hr{
    position: absolute;
width: 565.06px;
height: -10px;
left: 385px;
margin-top: 220px;

border: 7px solid #F5F5F5;
transform: rotate(54.81deg);
}
.cls1 h2{
    position: absolute;
width: 581px;
height: 65px;
left: 525px;
top: 6985px;
margin-top: 40px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 180%;
/* identical to box height, or 65px */


color: #000000;

opacity: 0.8;
}
.cls1 p{
    position: absolute;
width: 732px;
height: 43px;
left: 420px;
top: 7070px;
margin-top: 30px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 180%;
/* or 43px */

text-align: center;

color: #000000;

opacity: 0.6;
}

.cls2 img{
    position: absolute;
width: 1458px;
height: 894px;
left: 31px;
top: 6985px;
margin-top: 90px;
}
.BTn{
    position: absolute;
width: 230px;
height: 70px;
left: 645px;
top: 7944px;

background: #FFBB00;
border-radius: 45px;
margin-top: 110px;
color: white;
font-size: 25px;
border: 2px solid white;
}
.footer {
    margin-top: 1300px;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #252641;;
    }
    .footer h1 img{
        position: absolute;
        top: 4000px;
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    }
    
    h2 {
    font-weight: 400;
    font-size: 15px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    /* .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    } */
    
    .box a {
    color: #999;
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    margin-top: 90px;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }